setuptools-rust
git+https://github.com/openai/whisper.git
ffmpeg
tiktoken
tokenizers
torch
transformers
google-cloud-aiplatform
google-generativeai
nltk
wordcloud
matplotlib
streamlit
pydub
watchdog
googleapiclient
google-api-python-client